<div class="jumbotron">
  <h1>About</h1>

  <p>
    Created with the intention of teaching a little about the Ruby on Rails Framework,
    Contact List will show you how to learn the pieces that make up this very
    powerful.
  </p>
</div>
