<main role="main" class="container">
  <div class="jumbotron">
    <% if user_signed_in? %>
      <%= render 'index_login' %>
      <%= link_to new_contact_path do %>
        <button type="button" role="button" class="btn btn-lg btn-primary text-white">
          New Contact &raquo;
        </button>
      <% end %>
    <% else %>
      <div>
        <h1><%= @title %></h1>
        <p class="lead">
          Create, customize and manage your contact list from anywhere.
        </p>
      </div>
      <%= link_to new_user_registration_path do %>
        <button type="button" role="button" class="btn btn-lg btn-primary text-white">
          Create Account &raquo;
        </button>
      <% end %>
    <% end %>
  </div>
</main>
