// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/**! RESET BROWSER ****/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

$main-color: #0a548cfc;
$color-dark: #1d2231;
$text-grey: #5a5d62;
$top-color: #2376b5fc;

/**? TEST COLOR **/
$header-color: #1a2e40;
$links-color: #0a548cfc;

#bg {
  background-color: $header-color;
}

.row {
  flex-wrap: nowrap !important;
}

.mb-3.form-check  input {
  margin-top: 30px;
}

.mb-3 {
  margin-bottom: 12px !important;
}

.lead {
  color: $text-grey;
}

.icon-index {
  width: 48px;
}

.jumbotron {
  background-color: #d4dbe1 !important;

}

.jumbotron p {
  margin-top: revert
}

.bg-light {
  background-color: #dbdfe3 !important;
}

.logo-top {
  margin-left: 3rem;
}

.logo-user {
  margin-inline: 8px;
}

.navbar-brand {
  font-weight: bold;
  font-size: x-large;
  margin-left: 1rem;
}

.link {
  text-decoration-line: none !important;
  font-weight: 200em;
}

.btn-outline-primary {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border-color: $links-color;
}

.btn-outline-primary:hover {
  color: #fff;
  background-color: #2b8ee4;
  border-color: $links-color;
}

.btn-primary {
  color: #fff;
  background-color: $links-color;
  border-color: $links-color;
}

.btn-primary:hover {
  color: #fff;
  background-color: #2b8ee4;
  border-color: #2b8ee4;
}

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $text-grey;
  color: $color-dark;

  a {
    color: $color-dark;

    &:hover {
      color: $color-dark;
    }
  }

  small {
    float: left;
  }

  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}
