<footer>
  <small>
    <%= link_to 'Contact List. by George Pires.', "https://github.com/GeorgePires", target: "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'Sobre', '#' %></li>
      <li><%= link_to 'Contato', '#' %></li>
    </ul>
  </nav>
</footer>
