<footer>
  <small>
    <%= link_to 'Contact List. by George Pires.',
    "https://github.com/GeorgePires/contact_list", target: "_blank" %>
  </small>
  <nav>
    <ul>
      <li><%= link_to 'About', about_path %></li>
      <li><%= link_to 'Contact', contac_path %></li>
    </ul>
  </nav>
</footer>
